.todo-list li:last-child {
    border-bottom: none;
}
.todo-list li {
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
.view {
  border-top: 1px solid #e6e6e6;
}
.todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo-list li .destroy {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0 11px;
    font-size: 30px;
    color: #cc9a9a;
    transition: color .2s ease-out;
}

.todo-list li .destroy:after {
    content: "×";
}

.todo-list li:hover .destroy {
  display: block;
}

.todo-list li .toggle {
    text-align: center;
    width: 40px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none;
    -webkit-appearance: none;
    appearance: none;
}
.todo-list li .toggle:after {
  left: 5px;
  top: 18px;
  position: absolute;
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #e2e2e2;
}
.todo-list li .checked:after {
  content: "\2713";
  line-height: 30px;
  font-size: 25px;
  text-align: center;
  color: rgb(91, 201, 215);
}
.todo-list li .toggle:checked+label {
  text-decoration: line-through;
  color: #e1e1e1;
}
.todo-list li.completed label {
    color: #cdcdcd;
    text-decoration: line-through;
}
.todo-list li .toggle+label {
    background-repeat: no-repeat;
    background-position: center left;
}
.todo-list li label {
    font-size: 28px;
    word-break: break-all;
    padding: 15px 15px 15px 60px;
    display: block;
    line-height: 1.2;
    transition: color .4s;
    font-weight: 400;
    color: #4d4d4d;
}
button {
    margin: 0;
    padding: 0;
    border: 0;
    background: 0 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}